@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.outerFrame {
    border: 3px solid black;
    border-radius: 60px;
    height: 80vh;
    margin: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    position: relative;
}

.outerFrameAnimation {
    animation-name: shake;
    animation-duration: .7s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { bottom: 0px; top: 0px; }
    20% { bottom: 100px; top: 0px; }
    40% { bottom: 0px; top: 100px; }
    60% { bottom: 100px; top: 0px; }
    80% { bottom: 0px; top: 100px; }
    100% { bottom: 100px; top: 0px; }
}

h1 {
    color: gold;
}

.middleFrame {
    border: 3px solid black;
    border-radius: 30px;
    height: 62vh;
    width: 90%;
    background-color: white;
    padding: 1em;
}

.drawPad {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity .9s;
}

.clearPad {
    opacity: 0;
}

.marker{
    background-color: black;
    width: 4px;
    height: 4px;
    position: relative;
    top: 0;
    left: 0;
}

.controlls {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 3rem;
    margin-top: 2em;
}

.shakeBtn {
    border: 3px solid black;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.color {
    border: none;
    height: 2.5rem;
}

.leftKnob, .rightKnob {
    background-color: white;
    border: 3px solid black;
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.sizeSetting, .colorSetting {
    text-align: center;
    background-color: white;
    border: 3px solid black;
    width: 4rem;
    height: 3rem;
}